body {
  background: #202030;
  overflow: never;
}

h1 {
  text-align: center;
  color: #D0D0F0;
  font-family: sans-serif;
  font-weight: 900;
}

#outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#screen {
  border: 1px solid white;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
#__boot {
  /*border: 1px solid white;*/
  min-width: 1200px;
  min-height: 600px;
  max-width: 1200px;
  max-height: 600px;
  display: block;
  background: #000000ff;
  margin-left: auto;
  margin-right: auto;
  background-image: url('/style/static.webp');
  opacity: 0.5;
}

#__boot > img {
  opacity: 0.8;
}

#__boot_button {
  padding: 0px 10px 10px 0px;
  border: 1px solid white;
  border-top-width: 0px;
  border-radius: 0px 0px 10px 10px;
  display: block;
  background: #101010A0;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  color: #D0D0D0;
  width: 100px;
  height: 50px;
  cursor: pointer;
  text-align: center;
}

#__boot_button > #powerbutton {
  color: #ff0000;
}

#__boot_button > #powerbutton.powered {
  color: #00cc00;
}

#__boot_button:hover {
  background: #101010FF;
}

#__boot_button:focus {
  background: #101010FF;
}

#game-outer {
  display: none;
}

#game-content {
  margin-left: auto;
  margin-right: auto;
}

#powerbutton {
  font-size: 16px;
  font-weight: bold;
}

#__boot_button:hover > #powerbutton {
  color: #ffCC00;
}

#__boot_button:focus > #powerbutton {
  color: #ffCC00;
}

#__boot_button:active > #powerbutton {
  color: #00CC00;
}